	<form action="/add" method="POST">
		<!--Nome-->
		<div class="container-fluid">
		<label>Como você gostaria de ser chamado(a)?</label>
		<input type="text" class="form-control" name="nome">
		</div>
		<!--E-mail-->
		<div class="container-fluid">
		<label>Qual o seu email?</label>
		<input type="email" class="form-control" name="email">
		</div>
		<!--Telefone-->
		<div class="container-fluid">
		<label>Qual o seu celular?</label>
		<input type="text" class="form-control" name="telefone">
		</div>
		<button type="submit" class="btn btn-primary">Enviar</button>
	</form>
	