<h1>Registros</h1> 

<table border="1">
<tr>
<td>Nome</td>
<td>Email</td>
<td>Telefone</td>
</tr>
<tr>

{{#each}}


<td>{{nome}}</td>
<td>{{email}}</td>
<td>{{telefone}}</td>
</tr>


{{/each}}

</table>