	<div class="container-xl">

 

    <img src="public/img/finalizado.png" alt="Boas vindas!" class="imagem_info">
          <center><h1>Tudo Pronto!</h1></center>
          <h3>Nossa Equipe já recebeu o seu relato e vai analisar.</h3> 
          
          <h4>Assim que tiverem uma resposta, ou surgir alguma dúvida (o que pode acontecer, não se preocupe), eles vão entrar em contato com você, pelas informações deixadas para contato!</h4>
           
          <div class="alert alert-warning" role="alert">
            <b>Fique atento ao seu celular e na sua caixa de e-mail.</b>
            </div>
  <center> <h3>Fique tranquilo(a)! Estamos aqui para te apoiar!  
          </h3>
   <a href="/formulario"><button>Fazer outro relato</button></a>
    <a href="https://www.google.com.br"><button>Voltar para o nosso site</button></a>
	</div>  </center>
	